* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alumni Sans', sans-serif;
}

body {
    background-color: #39AEA8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #E1FFFD;
    padding: 2rem;
    padding-top: 4rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
    height: 550px;
}

.logo {
    width: 80px;
    height: 80px;
    margin-bottom: 1.5rem;
    object-fit: contain;
}

h1 {
    color: #333;
    margin-bottom: 0.7rem;
    font-size: 30px;
}

.admin-text {
    color: #39AEA8;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
    border-color: #003D39;
}

input:focus {
    outline: none;
    border-color: #39AEA8;
}

input::placeholder {
    color: rgba(0, 61, 57, 0.4);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #004D40;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00695C;
}

.error-message {
    color: #ff3333;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.login-button {
    font-size: 24px;
}